.about-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

/* HEADER */
.about-header {
  padding: 50px 0px 0px 0px;
}

.title {
  color: #302e4d;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  position: relative;
  margin-bottom: 50px;
}

.title::before {
  border-bottom: 4px solid #e63946;
  content: "";
  width: 50px;
  position: absolute;
  top: 45px;
}

.title::after {
  border-bottom: 4px solid #e63946;
  content: "";
  width: 250px;
  position: absolute;
  top: 55px;
}

.about-intro {
  color: #302e4d;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  word-spacing: 2px;
  margin-bottom: 20px;
}

.discription {
  font-family: "Montserrat", sans-serif;
  color: #504e70;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* INFO */
.info {
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fdf9ff;
  border: 1px solid #457b9d;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.info:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.info-items {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  flex-basis: 100%;
  max-width: 100%;
  border-bottom: 1px solid #457b9d;
  position: relative;
  margin: 0px 50px;
  padding: 10px 0px 5px 20px;
}

.info-items:last-child {
  margin-bottom: 30px;
}

.info-items p {
  font-weight: 700;
  position: relative;
  padding-top: 10px;
}

.info-items span {
  font-weight: 700;
  color: #504e70;
}

/* SKILL */
.skills {
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fdf9ff;
  border: 1px solid #457b9d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 20px 0px 50px 0px;
}

.skills:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.skill-item {
  border-bottom: 1px solid #457b9d;
  justify-content: space-between;
  flex-basis: 100%;
  display: flex;
  margin: 0px 50px;
  padding: 20px 20px;
}

.skill-item:last-child {
  border: none;
}

.skill-name {
  color: #302e4d;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 5px;
  padding-right: 10px;
}

.progress {
  flex-basis: 60%;
  height: 20px;
  background: white;
  border: solid 5px #1d3557;
  border-radius: 3px;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #e63946;
}

/* RESPONSIVE */

@media screen and (min-width: 1200px) {
  .discription {
    font-size: 1.1rem;
  }
  .info {
    transition: none;
    box-shadow: none;
    border: none;
  }
  .skills {
    transition: none;
    border: none;
    box-shadow: none;
    margin: 20px 0px;
    border-left: 1px solid #457b9d;
    border-radius: 0px;
  }
  .main {
    transition: all 0.3s;
    background-color: #fdf9ff;
    border: 1px solid #457b9d;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .main:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  .skill-item:last-child {
    border-bottom: 1px solid #457b9d;
  }

  .discription {
    margin-bottom: 50px;
    font-size: 1.2rem;
  }

  .skills:hover {
    transform: none;
  }

  .info:hover {
    transform: none;
  }
}
