.home-page {
  font-family: "Rubik", sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  width: 280px;
  height: 410px;
  background-color: #fdf9ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card-header {
  display: flex;
  height: 130px;
  background: #457b9d;
}

.avatar {
  position: relative;
  margin: 0 auto;
}

#img {
  position: relative;
  margin-top: 30px;
  width: 140px;
  border-radius: 50%;
  border: 5px solid white;
}

.card-body {
  padding: 30px;
}

.user-meta {
  padding-top: 40px;
}

.user-name {
  color: #302e4d;
  font-weight: 900;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.user-disr {
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  font-size: 0.9rem;
  color: #999;
  line-height: 1.2rem;
  word-spacing: 0.1rem;
}

.icon-group {
  text-align: center;
}

.icon {
  background-color: #e63946;
  color: #ffffff;
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0px 5px;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease;
}

.icon:hover {
  transform: scale(1.2);
}
