.title {
  color: #302e4d;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  position: relative;
  margin-bottom: 50px;
}

.title::before {
  border-bottom: 4px solid #e63946;
  content: "";
  width: 50px;
  position: absolute;
  top: 45px;
  left: 0;
}

.title::after {
  border-bottom: 4px solid #e63946;
  content: "";
  width: 25px;
  position: absolute;
  top: 55px;
  left: 0;
}
