body {
  background-color: #457b9d;
}

/* TOGGLE */
.toggle {
  top: 25px;
  position: absolute;
  z-index: 2;
}

.open {
  left: 30px;
}

.close {
  left: 300px;
}

.hide {
  visibility: hidden;
}

.content-open {
  margin-left: 270px;
}

@media screen and (min-width: 1200px) {
  .content-wide {
    margin-left: 270px;
  }
}
