/* NAV */
.nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
  position: fixed;
  background-color: #fdf9ff;
  border-right: 1px solid #457b9d;
  left: -100%;
  transition: 0.25s;
}

.active {
  left: 0;
  transition: 0.25s;
}

/* LOGO */
.container {
  padding: 50px 0;
}

.logo {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #302e4d;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  font-size: 40px;
}

.logo::before {
  border-left: 4px solid #e63946;
  border-top: 4px solid #e63946;
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
}

.logo::after {
  border-right: 4px solid #e63946;
  border-bottom: 4px solid #e63946;
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
}

/* RESPONSIVE */
@media screen and (min-width: 720px) {
  .nav {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    left: 0;
  }
  .toggle {
    visibility: hidden;
  }
}
